main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

header {
    grid-column: span 2;
}

footer {
    grid-column: span 2;
}
